/* Headings, Common BEM Blocks, and More... */

.btn {
  max-width: 100%;
  min-height: var(--btn-height);
  padding: var(--btn-padding-y) var(--btn-padding-x);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: inherit;
  font-size: var(--btn-font-size);
  line-height: $lineHeightDefault;
  font-family: $fontFamily;
  text-align: center;
  text-transform: none;
  border: none;
  border-radius: 0;
  outline: none;
  user-select: none;
  transition: $transition;
  transition-property: background, color, box-shadow;
  position: relative;
  cursor: pointer;
  z-index: 0;
  &:hover {
    text-decoration: none;
  }
  &.disabled,
  &:disabled {
    opacity: .6;
    pointer-events: none;
  }
  &--theme {
    &-accentlight {
      background: rgba(var(--blue2Color), .12);
      font-weight: 500;
      color: rgba(var(--blue2Color), 1);
      border-radius: $radiusXl;
      &:hover {
        background: rgba(var(--blue2Color), .16);
      }
    }
    &-accent {
      background: rgba(var(--accentColor), 1);
      font-weight: bold;
      color: #fff;
      border-radius: $radiusXl;
      &:hover {
        background: rgba(var(--blue2Color), 1);
      }
    }
    &-white-outline {
      background: transparent;
      font-weight: 500;
      color: #fff;
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .6);
      border-radius: $radiusXl;
      &:hover {
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 1);
      }
    }
  }
  &--size {
    &-sm {
      --btn-height: 60rem;
      --btn-padding-x: 42rem;
      --btn-padding-y: 8rem;
      --btn-font-size: var(--fs-5);
      font-weight: 500;
      @media (max-width: $lg) {
        --btn-height: 46rem;
        --btn-padding-x: 32rem;
        --btn-padding-y: 6rem;
      }
    }
    &-md {
      --btn-height: 60rem;
      --btn-padding-x: 42rem;
      --btn-padding-y: 10rem;
      --btn-font-size: var(--fs-4);
      @media (max-width: $lg) {
        --btn-height: 46rem;
        --btn-padding-x: 32rem;
        --btn-padding-y: 6rem;
      }
    }
  }
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    pointer-events: none;
    z-index: 1;
  }
  &__title {
  }
}

.content {
  line-height: $lineHeightMedium;
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  strong {
    font-weight: 500;
  }
  p {
    margin: 0 0 1em;
  }
  ol {
    margin: 0;
    padding: 0;
    counter-reset: listOlCounter;
    list-style-type: none;
    li {
      margin: 0;
      padding: 0;
      counter-increment: listOlCounter;
      &:not(:last-child) {
        margin-bottom: 8rem;
      }
      &:before {
        margin-right: .3ch;
        display: block;
        content: counter(listOlCounter)". ";
        float: left;
      }
      &:after {
        display: table;
        content: '';
        clear: both;
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      margin: 0;
      padding: 0 0 0 18rem;
      position: relative;
      &:not(:last-child) {
        margin-bottom: 8rem;
      }
      &:before {
        background: var(--accentColorF);
        width: 6rem;
        height: 6rem;
        content: '';
        position: absolute;
        top: .5em;
        left: 0;
        border-radius: 50%;
      }
      &:after {
        display: table;
        content: '';
        clear: both;
      }
    }
  }
}

.color-accent {
  color: var(--accentColorF) !important;
}

.u-br {
  display: block;
}

.services-card {
  $servicesCardGapY: 42rem;
  $servicesCardGapX: 56rem;
  $servicesCardGapYMd: 32rem;
  $servicesCardGapXMd: 32rem;
  background: rgba(var(--paleBlueColor), 1);
  padding: $servicesCardGapY $servicesCardGapX;
  border-radius: $radiusXl;
  @media (max-width: $md) {
    padding: $servicesCardGapYMd $servicesCardGapXMd;
    border-radius: 24rem;
  }
  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__content {
    margin-top: auto;
    @media (max-width: $md) {
      display: flex;
      flex-direction: column;
    }
    > :last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    margin: 0 0 20rem;
    @media (max-width: $md) {
      margin-bottom: 16rem;
    }
  }
  &__text {
    margin: 0 0 42rem;
    color: rgba(var(--black4Color), .8);
    @media (max-width: $md) {
      margin-bottom: 0;
    }
  }
  &__currency-list {
    margin: 0 -6rem -10rem !important;
    display: flex;
    justify-content: space-between;
    @media (max-width: $md) {
      margin: 0 0 14rem !important;
      flex-wrap: wrap;
      order: -1;
    }
  }
  &__currency {
    margin: 0 0 10rem;
    padding: 0 6rem;
    @media (max-width: $md) {
      max-width: 25%;
      flex: 0 0 25%;
      padding: 0;
    }
    &:not(:first-child) {
      @media (max-width: $md) {
      }
    }
    &-icon {
      width: 96rem;
      height: 96rem;
      margin: 0 auto 12rem;
      display: block;
      transition: all .24s;
      transition-property: transform;
      @media (max-width: $md) {
        width: 56rem;
        height: 56rem;
        margin-bottom: 0;
      }
      img {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    &:hover &-icon {
      transform: scale(1.10416666667);
    }
    &-title {
      margin: 0;
      display: block;
      font-weight: 500;
      font-size: var(--fs-7);
      color: rgba(var(--black4Color), .4);
      text-align: center;
      text-transform: uppercase;
      transition: all .24s;
      transition-property: color;
      @media (max-width: $md) {
        display: none;
      }
    }
    &:hover &-title {
      color: rgba(var(--black4Color), .8);
    }
  }
  &__create {
    padding: $servicesCardGapY - 4rem 0 $servicesCardGapY + 28rem;
    display: flex;
    justify-content: center;
    @media (max-width: $md) {
      padding: $servicesCardGapYMd - 4rem 0 $servicesCardGapYMd + 18rem;
    }
    &-btn {
      @extend %btn-reset;
      background: transparent;
      min-height: 62rem;
      max-width: 100%;
      padding: 8rem 38rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: var(--fs-8);
      color: rgba(var(--blackColor), 1);
      line-height: $lineHeightMedium;
      border-radius: $radiusLg;
      cursor: pointer;
      position: relative;
      z-index: 0;
      @media (max-width: $md) {
        min-height: 66rem;
      }
      &:hover {
        animation: btn-pulse-hover .54s;
        &:before {
          opacity: .18;
        }
      }
      &:before {
        background: $gradientAccent;
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        border-radius: inherit;
        opacity: .12;
        transition: $transition;
        transition-property: opacity;
        z-index: -1;
      }
      &-icon {
        margin: .1em 4rem 0 0;
        flex-shrink: 0;
        font-size: 94%;
      }
      &-title {
      }
    }
  }
  &__statistics {
    margin: 0 0 24rem;
    border-radius: $radiusLgg;
    position: relative;
    overflow: hidden;
    @media (max-width: $md) {
      border-radius: 16rem;
    }
    &-list {
      width: 100%;
      padding-bottom: 90.6896551724%;
      border-radius: inherit;
      overflow: hidden;
    }
    &-picture {
      @extend %img-cover;
      width: 100%;
      height: 100%;
      animation-duration: 6s;
      animation-iteration-count: infinite;
      animation-delay: 2s;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      &:nth-child(1) {
        animation-name: statistics-fade-1;
        opacity: 1;
      }
      &:nth-child(2) {
        animation-name: statistics-fade-2;
      }
      &:nth-child(3) {
        animation-name: statistics-fade-3;
      }
    }
  }
  &__send-wrapper {
    margin: 0 -14rem;
  }
  &__send {
    margin: -1 * $servicesCardGapY 0 20rem;
    padding-bottom: 58.8815789474%;
    position: relative;
    @media (max-width: $md) {
      margin: -1 * $servicesCardGapYMd 0 20rem;
    }
    &-bg {
      @extend %img-contain;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: $transition;
      transition-property: opacity;
      &--1 {
      }
      &--2 {
        opacity: 0;
      }
    }
    &-list-wrapper {
      width: 65.4971530132%;
      margin-top: -6%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: $transition;
      transition-property: opacity;
      &--1 {
      }
      &--2 {
        opacity: 0;
      }
    }
    &-list {
      padding-bottom: 31.8181818182%;
    }
    &-card {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: $radiusLgg;
      overflow: hidden;
      &-picture {
        @extend %img-contain;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: $transition;
        transition-property: opacity;
        &:not(:first-child) {
          display: none;
        }
      }
    }
  }
  &__exchange-wrapper {
    margin: 0 0 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $md) {
      margin-bottom: 34rem;
    }
  }
  &__exchange {
    display: flex;
    align-items: center;
    transform: perspective(60px);
    transform-style: preserve-3d;
    position: relative;
    z-index: 0;
    &-card {
      @extend %img-cover;
      width: 96rem;
      height: 96rem;
      box-shadow: 0 0 0 4rem #f1f5f9;
      border-radius: 50%;
      position: relative;
      z-index: 0;
      @media (max-width: $md) {
        width: 66rem;
        height: 66rem;
        box-shadow: 0 0 0 3rem #f1f5f9;
      }
      &:not(:last-child) {
        margin-right: -62rem;
        @media (max-width: $md) {
          margin-right: -42rem;
        }
      }
    }
    &-arrow {
      background: rgba(var(--whiteColor), .6);
      backdrop-filter: blur(8rem);
      width: 44rem;
      height: 26rem;
      margin: 0 -13rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      color: rgba(#29313D, .92);
      border-radius: $radiusLg;
      border: 1px solid rgba(var(--whiteColor), 1);
      position: relative;
      z-index: 1;
      .u-icon {
        width: 22rem;
        height: 20rem;
        display: block;
      }
    }
    &-currency {
      @extend %img-cover;
      background: linear-gradient(220deg, #010417 10.26%, #2B333F 84.25%), linear-gradient(46deg, #000 15.89%, #434343 171.16%);
      box-shadow: 0 0 8rem 0 rgba(182, 186, 191, .04), 0 2rem 3rem 0 rgba(0, 0, 0, .02);
      width: 96rem;
      height: 96rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: var(--fs-2);
      text-align: center;
      color: rgba(var(--whiteColor), 1);
      border-radius: 50%;
      flex-shrink: 0;
      @media (max-width: $lg) {
        font-size: 38rem;
      }
      @media (max-width: $md) {
        width: 66rem;
        height: 66rem;
      }
    }
  }
  &__anonymous-wrapper {
    background: linear-gradient(233deg, #9FCCFA -20.48%, #0974F1 97.38%);
    margin: 0 -14rem 20rem;
    border-radius: $radiusLgg;
    position: relative;
    @media (max-width: $md) {
      margin-right: 0;
      margin-bottom: 24rem;
      margin-left: 0;
      border-radius: 16rem;
    }
  }
  &__anonymous-inner {
    width: 89.5286145323%;
    margin: 0 auto;
    padding-bottom: 54.9504950495%;
    position: relative;
    @media (max-width: $md) {
      padding-bottom: 44.950495%;
    }
  }
  &__anonymous {
    width: 100%;
    padding-bottom: 35.0157728707%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    &-card {
      @extend %img-cover;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}